services:
  mmam:
    build: .
    env_file:
      - .env
    ports:
      - "8080:8080"
    depends_on:
      - db
    volumes:
      - ./src:/app/src    # ← 開発用にホストのsrcをマウント
      - ./logs:/app/logs  # ← 任意: ログも残したいなら


  db:
    image: postgres:16
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
